{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <form action="{{ url_for('login') }}" method="post">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                <dt>Username:</dt>
                <dd><input type="text" name="username"></dd>
                <dt>Password:</dt>
                <dd><input type="password" name="password"></dd>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
    </div>
{% endblock content %}


